@import "../styles/variables.scss";

.page__footer {
    width: 100%;
    background-color: $black;
    color: $white;
}

.container__router {
    background-color: $white;
    padding: 30px;    
}
