 <mat-toolbar
  color="primary">

  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="labels.MENU_BUTTON_ARIAL_LABEL">
    <mat-icon>{{labels.MENU_ICON}}</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    
    <button mat-menu-item routerLink="/">
      <mat-icon>{{labels.HOME_ICON}}</mat-icon>
      <span>{{labels.HOME_LABEL}}</span>
    </button>

    <button mat-menu-item routerLink="/cadastrar-usuarios">
      <mat-icon>{{labels.PERSON_ADD_ICON}}</mat-icon>
      <span>{{labels.PERSON_ADD_LABEL}}</span>
    </button>

    <button mat-menu-item routerLink="/lista-de-usuarios">
      <mat-icon>{{labels.PERSON_LIST_ICON}}</mat-icon>
      <span>{{labels.PERSON_LIST_LABEL}}</span>
    </button>
  
  </mat-menu>

  <span>{{labels.TITLE_HEADER}}</span>

</mat-toolbar>

<div class="container container__router">
 <router-outlet></router-outlet>
</div>


<footer class="page__footer py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>&copy; {{labels.COPYRIGHT}}</p>
      </div>
    </div>
  </div>
</footer>

<app-loader 
  [_activeLoader]="loaderService.verifyStatusLoader()">
</app-loader>

<app-generic-modal-error
  [_activeGenericModalError]="genericModalErrorService.verifyStatusModalError()"
  (close)="genericModalErrorService.showModalError($event)">
</app-generic-modal-error>