 <mat-toolbar
  color="primary">

  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Menu de acesso ao cadastro e visualização de informações">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    
    <button mat-menu-item routerLink="/cadastrar-usuarios">
      <mat-icon>person_add</mat-icon>
      <span>Cadastrar novo</span>
    </button>

    <button mat-menu-item routerLink="/lista-de-usuarios">
      <mat-icon>lists</mat-icon>
      <span>Lista de cadastrados</span>
    </button>
  
  </mat-menu>

  <span>Cadastro de usuários</span>

</mat-toolbar>

<div class="container container__router">
 <router-outlet></router-outlet>
</div>


<footer class="page__footer py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>&copy; 2025 Cadastros de Usuários S/A</p>
      </div>
    </div>
  </div>
</footer>

<app-loader></app-loader>